#banner-sinistra{
	height: 500px;
    background-color: #B22222;
}

#banner-destra{
	height: 500px;
    background-color: #B22222;
}

#form-pt-1{
	display: none;
}

#form-pt-2{
	display: none;
}

#form-pt-3{
	display: none;
}

#titolo-prodotti{
	text-align: center;
}

.thumbnail{
	background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
}

.nome, .costo, .spedizione{
	vertical-align: center;
}

.my-row{
	display: flex;
    justify-content: space-around;
}

#form-pt-1 .row label, #form-pt-1 .row span, #form-pt-2 .row label, #form-pt-2 .row span, #form-pt-3 .row div, #form-pt-3 .row span, #form-pt-3 h4 {
	text-align: center;
}

#form-pt-3 h4{
	font-weight: 600;
}

@media only screen and (min-width: 1200px) {
	#riassunto-prodotti{
    	margin-top: 20px;
    }
    
    #titolo-prodotti{
    	font-weight: 600;
    }
    
    #tabella-prodotti{
    	padding-top: 10px;
    	padding-bottom: 10px;
    	font-weight: 600;
    }
    
    .riga-prodotto{
    	padding-top: 30px;
    	padding-bottom: 5px;
    	border-bottom: 1px solid gray;
    }
    
    .thumbnail{
    	height: 316.667px;
    }
    
    .nome, .costo, .spedizione{
    	line-height: 316.667px;
    }
    
    .remove{
    	position: relative;
		left: 356px;
	}
    
    .riga-riassunto-costi{
       	padding-top: 5px;
    	padding-bottom: 5px;
    	border-bottom: 1px solid gray;
    }
    
    #prosegui-1{
       	margin-top: 5px;
    	margin-bottom: 5px;
    }
    
    #prosegui-1 button{
    	position: relative;
        left: 92.5px;
    }

    #form-pt-1 .row label, #form-pt-1 .row span{
        font-size: 20px;
        margin: 20px 0;
    }

    #form-pt-2 .row label, #form-pt-2 .row span{
        font-size: 20px;
        margin: 30px 0;
    }

    #form-pt-3 .row div, #form-pt-3 .row span{
        font-size: 20px;
        margin: 15px 0;
    }
    
    #form-pt-3 h4{
        margin: 15px 0;
    }
    
}