section{
	width: 100%;
}

#mail .descrizione{
	background-color: #E9967A;
}

#mail .contenuto{
	background-image: url("http://localhost/PW%202020/progettoesame/Immagini/mail.png");
    background-attachment: fixed;
    background-size: cover;
  	opacity: 0.5;
}

#telefono .descrizione{
	background-color: #D3D3D3;
}

#telefono .contenuto{
	background-image: url("http://localhost/PW%202020/progettoesame/Immagini/call.png");
    background-attachment: fixed;
    background-size: cover;
  	opacity: 0.5;
}

#termine{
	background-color: #87CEFA;
}

@media only screen and (min-width: 1200px) {
	article{
    	height: 1000px;
    }

	section{
		height: 500px;
	}
    
    .descrizione, article span{
      text-align: center;
      line-height: 500px;
      height: 500px;
      font-size: 30px;
      font-weight: 600;
    }
    
    #mail span, #telefono span{
    	position: relative;
        bottom: 500px;
    	display: block;
    	margin: 0 auto;
        border: 5px solid transparent;
    }
    
}
